    body {margin: 10px; padding: 0; background-color: #F9E79F; box-sizing: border-box;}
	
   
	
	p {  margin-left: 50px; font-size: 16px; } 
	
	h2 {font-style: italic; text-align: center; font-size: 30 px; }
	/*img{
		height: 50px;
		width: 50px;
		margin-left: auto;
		margin-right: auto;	}*/


.gridm {display:grid; grid-template-columns: repeat(3,3fr, 1fr); background-color: #aad1e6; column-gap: 10px; row-gap: 1em;}
.gridm > div { background-color: rgba(31, 156, 209, 0.8); text-align: center; padding: 10px; font-size: 30px;}
.header { grid-area: 1 / 6/ 1/ 1; }
.block1 {grid-column-start: 1; grid-column-end: 6; grid-row-start: 2; grid-row-end: 2;}
.sidebar {grid-column-start: 4; grid-column-end: 6; grid-row-start: 3; grid-row-end: 6;}
.block21 {grid-column-start: 1; grid-column-end: 4; grid-row-start: 3; grid-row-end: 3;}
.block22 {grid-column-start: 1; grid-column-end: 4; grid-row-start: 4; grid-row-end: 4;}
.block23 {grid-column-start: 1; grid-column-end: 4; grid-row-start: 5; grid-row-end: 5;}








